.page{
    padding-left: 15px;
    padding-right: 15px;
}
.breadcrumbs{
  padding-top: 10px;
}
.page-heading{
    padding-left: 15px;
    padding-top: 25px;;
    font-style: inherit;
    font-weight: bold;
}

table {
    width: 100%;
  }
  .table-heading{
    background-color: rgb(229, 229, 236);
    font-size: 15px;
    color: black;
  }

  
 
  .iconss{
    display: flex;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content:flex-end;
  }

//   .mat-header-cell {
//     color: #080808 ;
//     background-color:rgb(229, 229, 236) ;
//     font-size: 15px;
// }
.mat-elevation-z8 {
  box-shadow: 0 0 1px black;
}
//light grey
//rgb(219, 215, 215); 
//light blue
// rgb(229, 229, 236)
//actual blue
//#2450b3;
//green
//rgb(119, 241, 115); 

mat-toolbar{
  background: white
}
.mat-form-field {
  padding-top: 10px !important;
}

span{
  padding-right: 5px;
}