<!-- <div class="page">
    <div class="breadcrumbs">
        <span>Home / Administration / Certificate</span>
    </div>

    <mat-toolbar>
       
        <div>
            <h1 class="title" fxFlex="1 0 auto" fxLayoutAlign="start center">
                <!-- <span class="material-icons">
                    menu_book
                </span> -->                                                                                                                                                                                                                                                                                                                 
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span>
                        Certificate Body
                    </span>
                </div>
            </h1>

        </div>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <button mat-mini-fab class="portal-background-color" (click)="openDialog('add','noRecord')"
                aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-toolbar>


    <div class="page-content">

        <div style="background-color: white;">
            <div fxLayout="row" fxFlex fxHide.xs class="parent">
                <div style="padding-left: 10px;" fxFlex="50%" class="left">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input>
                    </mat-form-field>
                </div>
                <div fxFlex="50%" class="right">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div fxLayout="column" fxFlex fxShow="true" fxHide.gt-xs="true" class="parent">
                <div fxFlex="50%" class="left">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    </mat-form-field>
                </div>
                <div fxFlex="50%" class="right">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>

        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                <!-- programName Column -->
                <!-- <ng-container matColumnDef="programName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Program </th>
              <td mat-cell > Program</td>
              
              <td mat-cell *matCellDef="let element"> {{element.programName}} </td>
            </ng-container> -->

                <ng-container matColumnDef="agencyName">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header>Agency Name
                    </th>
                    <td mat-cell *matCellDef="let element"><span class="pointer"
                            (click)="openDialog('detail',element)">{{element.agencyName}}</span> </td>
                </ng-container>



                <!-- programName Column -->
                <ng-container matColumnDef="programName">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header> Program Name </th>

                    <td mat-cell *matCellDef="let element"> {{element.programName}} </td>
                </ng-container>
                <!-- contactPerson Column -->
                <ng-container matColumnDef="contactPerson">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header> Contact Person</th>

                    <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
                </ng-container>
                <!-- city Column -->
                <ng-container matColumnDef="city">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header> City </th>

                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>

                <!-- state Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header> State </th>
                    <td mat-cell>ahrsa </td>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                </ng-container>

                <!-- emailAddress Column -->

                <ng-container matColumnDef="emailAddress">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header> Email Address </th>
                    <td mat-cell>ahrsa </td>
                    <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                </ng-container>

                <!-- status Column -->

                <ng-container matColumnDef="status">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell>ahrsa </td>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <!-- Edit button -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell class="table-heading" *matHeaderCellDef> Actions </th>

                    <td mat-cell *matCellDef="let element"> <button mat-button matTooltip="Update this program"
                            [matTooltipPosition]="position.value" (click)="openDialog('edit',element)">
                            <mat-icon class="portal-color">create</mat-icon>
                        </button></td>
                </ng-container>


                <!-- <ng-container class="nooo" matColumnDef="programNameFilter">
                <th mat-header-cell *matHeaderCellDef 
                    > 
                    <mat-form-field appearance="outline">
                      <mat-label>Search Program </mat-label>
                      <input matInput placeholder="Email" [formControl]="positionFilter"  placeholder="Search Program " />
                    </mat-form-field>
                </th>
              </ng-container>
              <ng-container matColumnDef="orgNameFilter">
                <th mat-header-cell *matHeaderCellDef 
                    > 
                    <mat-form-field appearance="outline">
                      <mat-label>Search Standards Body </mat-label>
                      <input matInput placeholder="Email" (keyup)="applyFilter($event)" #input [formControl]="positionFilter"  placeholder="Search Standards Body" />
                    </mat-form-field>
                </th>
              </ng-container>
              <ng-container matColumnDef="createdAtFilter">
                <th mat-header-cell *matHeaderCellDef 
                    > 
                    <mat-form-field appearance="outline">
                      <mat-label>Search Created Date </mat-label>
                      <input matInput placeholder="Email" [formControl]="positionFilter"  placeholder="Search Created Date" />
                    </mat-form-field>            </th>
              </ng-container>
              <ng-container matColumnDef="statusFilter">
                <th mat-header-cell *matHeaderCellDef 
                   > 
                   <mat-form-field appearance="outline">
                    <mat-label>Search Status </mat-label>
                    <input matInput placeholder="Email" [formControl]="positionFilter"  placeholder="Search Status" />
                  </mat-form-field>              </th>
              </ng-container>
              <ng-container matColumnDef="actionsFilter">
                <th mat-header-cell *matHeaderCellDef 
                   > 
                </th>
              </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- <tr mat-header-row *matHeaderRowDef="filterColumns" class="record-filter">
              </tr> -->

                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

        </div>
    </div>

</div> -->