table {
    width: 100%;
  }
  .tablediv{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:2%;
  }
  /* .thead {
    background-color: rgb(67, 156, 240);
    color: #fff;
  } */
  /* .tablediv .table .th {
    background-color: rgb(67, 156, 240);
    color: #fff;
  } */

  th.mat-header-cell {
    text-align: left;
    background-color: rgb(67, 156, 240);
    color:white
}
#upload{
  display:none
}
mat-toolbar{
  background-color:white;
  text-align: center;
  padding-left: 40%;
}
.footererror{
  color: red;
  width: 100%;
}
.errorarea{
 /* display: none; */
 color: red;

float: left;
}
.buutonarea{
float:right;
}