<!-- <p>
    <mat-toolbar ><span>
     Upload Documents</span>
    </mat-toolbar>
  </p>
  <div class="tablediv">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" color="primary">
  
    
    <ng-container matColumnDef="serialno">
      <th mat-header-cell *matHeaderCellDef> Serial No </th>
      <td mat-cell *matCellDef="let element;let i=index">{{i+1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="doctype">
      <th mat-header-cell *matHeaderCellDef>  Document Type </th>
      <td mat-cell *matCellDef="let element" >
       {{element.Documenttype }} 
       
        <span *ngIf="element.Required" style="color:red">*</span>
      
      </td>
    </ng-container>

   
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>  Description </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.Description"
      aria-label="Button that displays a tooltip when focused or hovered over">
       {{element.Description | shortner}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="documentname">
      
      <th mat-header-cell *matHeaderCellDef> Document Name </th>
      <td mat-cell *matCellDef="let element" required> {{element.Documentsname }}
        
      </td>
    </ng-container>

    <ng-container matColumnDef="datecreated">
      <th mat-header-cell *matHeaderCellDef> Create Date </th>
      <td mat-cell *matCellDef="let element"> {{element.DateCreated | date:'M/dd/yyyy'}}</td>
    </ng-container>
  
   
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element;let i=index" >
        <input style="display: none;" #upload type="file" (change)="onFileUpload($event)" />

      <a (click)="uploadlink(i)"  title="Upload Document" style="color:rgb(67, 156, 240);cursor:pointer"
     
      > 
         <i class="fa fa-upload fa-1x" aria-hidden="true"></i>
        </a>&nbsp; &nbsp;
         <a title="Remove Document" style="color:rgb(67, 156, 240);cursor:pointer" (click)="remove(i)"> 
            <i class="fa fa-trash-o fa-1x"></i>
        </a>

    </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>    
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <br>
  <div>
  <span class="errorarea" [ngStyle]="{'display':errorDisplay}">
    Please Upload Required Documents*
  </span>
    <span class="buutonarea">
    <button mat-raised-button (click)="cancel()">Cancel</button>
&nbsp;&nbsp;
<button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </span>
  </div>
</div>
 -->

 <div> Its Working </div>